@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

body {
    font-family: 'Kanit';
}

.container {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
    text-align: center;
}

.header-form {
    width: 140px;
}

.flex {
    display: flex;
}

.form {
    margin-bottom: 10px;
}

input.form, textarea {
    border: 1px solid rgb(210, 210, 210);
    width: 100%;
}

.center {
    text-align: center;
}

.button {
    border: 0;
    width: 50%;
    height: 30px;
    background-color: #2962FF;
    color: white;
}

.message{
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}

.message.success {
    background-color: rgb(139, 223, 139);
    display: block;
}

.message.danger {
    background-color: rgb(235, 134, 134);
    display: block;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .header {
        font-size: 24px;
    }

    .button {
        width: 100%;
    }
}